.sidenav-container {
  background-color: #f1efea;
  width: 100%;
  height: calc(100% - 138px);
  z-index: 1;
  min-width: 0;
  position: fixed;
  top: 128px;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: fixed;
  top: 64px;
  z-index: 2;
  background-image: url(./../../../assets/background/toolbar-bg.png);
}

@media (min-width: 320px) and (max-width: 480px) {
  .mat-toolbar {
    top: 54px;    
  }
  .sidenav-container {
    top: 108px;
    height: calc(100% - 110px);
  }
}