<mat-toolbar color="accent">
  <button type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
    <mat-icon aria-label="Abrir Fechar">menu</mat-icon>
  </button>
  <span>Clientes</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <!--Lista do Clientes-->
  <mat-sidenav #drawer
               class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <app-customer-list></app-customer-list>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--Detalhes do Cliente-->
    <app-customer-detail></app-customer-detail>
  </mat-sidenav-content>
</mat-sidenav-container>